{% extends 'base.html' %}

{% block content %}
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        <div class="container is-half">
            <h1 class="title">About Check Out This Song</h1>
            <p class="block">
                Check out this song is a project by Yara Beadenkopf, built for their capstone project while going through Springboard's full stack software engineering bootcamp. <i>COTS</i> is heavily inspired by <a href="https://www.thisismyjam.com/">This is My Jam</a>, a social music sharing site that is sadly no longer active. You can find out more about the project on github:
            </p>
            <p class="block">
                <a href="https://github.com/dixls/check-out-this-song">https://github.com/dixls/check-out-this-song</a>
            </p>
            <p class="block">
                Enjoy!
            </p>
        </div>
    </div>
</div>
{% endblock %}