<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.css">
    <script src="https://kit.fontawesome.com/d90404cfeb.js" crossorigin="anonymous"></script>
    <title>Check Out This Song!</title>
</head>

<body>
    {% include 'nav.html' %}
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="notification is-{{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container is-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

</html>