{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-body ">
        <h1 class="title is-2 has-text-weight-bold">
            Check Out This Song!
        </h1>
        <p class="subtitle">
            A nice place to share songs with your friends!
        </p>
    </div>
</section>
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        {% if posts %}
        {% for post in posts[:items_per_page] %}
        {% include 'post_card.html' %}
        {% endfor %}
        {% endif %}
        {% include 'pagination.html' %}
    </div>
</div>
{% endblock %}