{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-body ">
        <h1 class="title is-2 has-text-weight-bold">
            Check Out This Song!
        </h1>
        <p class="subtitle">
            A nice place to share songs with your friends!
        </p>
    </div>
</section>
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        {% if posts %}
        {% for post in posts %}
        {% include 'post_card.html' %}
        {% endfor %}
        {% endif %}
        <div class="columns is-centered">
            {% if page %}
            <div class="column has-text-centered">
                {% if page == 1 %}
                <a href="/" class="button">
                    {% else %}
                    <a href="/?p={{page-1}}" class="button">
                        {% endif %}
                        <span class="icon">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>
                            Newer
                        </span>
                    </a>
            </div>
            <div class="column"></div>
            {% if num_posts < default %}
            <div class="column"></div>
            {% else %}
            <div class="column has-text-centered">
                <a href="/?p={{page+1}}" class="button">
                    <span>
                        Older
                    </span>
                    <span class="icon">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
            {% endif %}
        {% else %}
        <div class="column"></div>
        <div class="column"></div>
        <div class="column has-text-centered">
            <a href="/?p=1" class="button">
                <span>
                    Older
                </span>
                <span class="icon">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}