{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-body ">
        <h1 class="title is-2 has-text-weight-bold">
            Check Out This Song!
        </h1>
        <p class="subtitle">
            A nice place to share songs with your friends!
        </p>
    </div>
</section>
{% if num_posts == 0 %}
        <section class="hero is-medium">
            <div class="hero-body">
                <p class="title is-2">It doesn't look like you're following anyone</p>
                <p class="subtitle">Try <a href="{{url_for('main.user_search')}}">searching for someone to follow</a></p>
            </div>
        </section>
        {% endif %}
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        {% if posts %}
        {% for post in posts[:items_per_page] %}
        {% include 'post_card.html' %}
        {% endfor %}
        {% endif %}
        {% include 'pagination.html' %}
    </div>
</div>
{% endblock %}