{% extends 'base.html' %}

{% block content %}
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        <div class="card m-2">
            <div class="card-content">
                <form method="POST">
                    <div class="field">
                        {{ form.hidden_tag() }}
                        {{ form.username.label(class_="label") }}
                        {{ form.username(class_="input") }}
                    </div>
                    <div class="field">
                        {{ form.password.label(class_="label") }}
                        {{ form.password(class_="input") }}
                    </div>
                    <div class="field">
                        {{ form.remember }} {{ form.remember.label }}
                    </div>
                    <button type="submit" class="button">Login</button>
                    <a href="{{url_for('main.signup')}}" class="is-size-7">Don't have an account? Sign up!</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}