{% extends 'base.html' %}

{% block content %}
<div class="columns is-tablet is-centered">
    <div class="column is-half">
        <div class="card m-3">
            <div class="card-content">
                <form method="POST">
                    <div class="field">
                        {{ form.hidden_tag() }}
                        {{ form.search.label(class_="label") }} {{ form.search(class_="input") }}
                    </div>
                    <button type="submit" class="button">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}